
.left-info-block{
    width: 400px;
    height: 280px;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgb(96, 181, 184);
   background-color: rgba(230, 255, 255, 0.508);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.left-info-block h3{
     color: rgb(125, 124, 124);
}
.wind-img{
    height: 80%;
    width: 60%;
    object-fit:fill;
}
.wind-speed{
    font-size: 1.5rem;
    font-weight: 600;
}