
.maxmin-info{
     height: 100%;
     width: 100%;
     border-radius: 1rem;
     box-shadow: 5px 5px 10px rgb(104, 177, 188);
     background-color: rgba(230, 255, 255, 0.499);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}
.title{
     font-size: 1rem;
     font-weight: 700;
}
 .temp{
    font-size: 1.5rem;
} 